.button {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    box-sizing: border-box;
    padding: 10px;

    cursor: pointer;
    border: none;
    border-radius: 5px;

    transition: var(--transition);

}



.primary {
    background: var(--primary);
    color: var(--white);
}

.primary:hover {
    background: var(--primary-hover);
}

.ghost {

    background: var(--white);
    border: 1px solid var(--grey-light);
    color: var(--black);
}

.ghost:hover {
    background: var(--primary);
    color: var(--white);
}