.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	transition: var(--transition);
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}

.primary {
	color: var(--white);
	background: var(--primary);
}

.primary:hover {
	background: var(--primary-hover);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--grey-light);
	background: var(--white);
}

.ghost:hover {
	color: var(--white);
	background: var(--primary);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}

.down {
	transition: var(--transition);
	transform: rotate(90deg);
}

.ghost:hover svg {
	transition: var(--transition);
	transform: rotate(90deg);
	fill: var(--white);
}

.primary svg {
	fill: var(--white);
}
