html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: var(--back-ground-color);
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--back-ground-color: #F3F5F8;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5D36FC;
	--red: #FC836D;
	--green: #1DC47E;
	--green-light: #C8F8E4;
	--grey-light: #EBEBEB;
	--font-family: "Nato Sans", sans-serif;
	--transition: all 0.3s ease-in-out;
}
